$headingLarge-size: 56px;
$headingLarge-weight: 71px;
$headingMedium-size: 24px;
$headingMedium-weight: 31px;
$headingSmall-size: 20px;
$headingSmall-weight: 26px;
$headingXSmall-size: 16px;
$headingXSmall-weight: 21px;


$mobileWidth: 375px;
$mobileHeight: 812px;
$mobileMenuWidth: 335px;
$mobilepMenuHeight: 407px;
$mobileRulesWidth: 335px;
$mobileRulesHeight: 618px;
$mobilePouseWidht: 335px;
$mobilePouseHeight: 437px;
$mobilePouseRadius: 40px;
$mobileTopMenuWidht: 335px;
$mobileTopMenuHeight: 40px;
$mobilePlayerBoxWidth: 142px;
$mobilePlayerBoxHeight: 81px;
$mobilePlayerBoxRadius: 15px;
$mobilePlayerContainerWidth: 359px;
$mobilePlayerContainerHeight: 81px;
$mobileGameboardWidht: 335px;
$mobileGameboardHeight: 310px;
$mobileTurnWidth: 191px;
$mobileTurnHeight: 150px;
$mobileFooterWidth: 375px;
$mobileFooterHeight: 236px;
$mobileFooterRadius: 60px;
$mobileRulesIcon: 64px;



$tabletWidth: 768px;
$tabletHeight: 1024px;
$tabletMenuWidth: 480px;
$tabletMenuHeight: 435px;
$tabletMenuContainerWidth: 400px;
$tabletMenuContainerHeight: 305px;
$tabletRulesWidth: 480px;
$tabletRulesHeight: 537px;
$tabletRulesRadius: 40px;
$tabletPouseWidht: 480px;
$tabletPouseHeight: 491px;
$tabletTopMenuWidht: 632px;
$tabletTopMenuHeight: 52px;
$tabletPlayerBoxWidth: 272px;
$tabletPlayerBoxHeight: 100px;
$tabletPlayerContainerWidth: 633px;
$tabletPlayerContainerHeight: 100px;
$tabletPlayerBoxRadius: 15px;
$tabletGameboardWidht: 632px;
$tabletGameboardHeight: 584px;
$tabletTurnWidth: 191px;
$tabletTurnHeight: 150px;
$tabletFooterWidth: 768px;
$tabletFooterHeight: 234px;
$tabletFooterRadius: 60px;

$desktopWidth: 1440px;
$desktopHeight: 900px;
$desktopMenuWidth: 480px;
$desktopMenuHeight: 435px;
$desktopMenuContainerWidth: 400px;
$desktopMenuContainerHeight: 305px;
$desktopRulesWidth: 480px;
$desktopRulesHeight: 569px;
$desktopRulesRadius: 40px;
$desktopPouseWidht: 480px;
$desktopPouseHeight: 491px;
$desktopTopMenuWidht: 632px;
$desktopTopMenuHeight: 52px;
$desktopPlayerBoxWidth: 141px;
$desktopPlayerBoxHeight: 160px;
$desktopPlayerBoxRadius: 20px;
$desktopGameboardWidht: 632px;
$desktopGameboardHeight: 584px;
$desktopTurnWidth: 191px;
$desktopTurnHeight: 150px;
$desktopFooterWidth: 1440px;
$desktopFooterHeight: 200px;
$desktopFooterRadius: 60px;

$PlayResultWidth: 285px;
$PlayResultheight: 160px;
$PlayResultRadius: 20px;