body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.grid-container {
  display: grid;
  column-gap: 10px;
}

.drop-column {
  display: grid;
  row-gap: 10px;
}

.box {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: lightgray;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 1;
}

.icon {
  font-size: 32px;
  position: absolute;
  opacity: 0;
  /* Start invisible so the generation doesn't show anything */
}