.counter-red-small {
    background-image: url("../assets/images/counter-red-small.svg");
      background-repeat: no-repeat;
      background-size: 41px 46px;
      width: 41px;
      height: 46px;
      position: absolute;
      left: 81.4%;
      top: 64.8%; 

      z-index: 15;
}

.counter-red-large {
    background-image: url("../assets/images/counter-red-large.svg");
      background-repeat: no-repeat;
      background-size: 70px 75px;
      width: 70px;
      height: 75px;
      position: absolute;
      left: 12.2%;
      top: 74.8%;
      z-index: 15;
}

.game-counters .mobile {
  display: none;
}
.game-counters .tablet {
  display: none;
}

.counters .mobile {
  display: none;
}

.counters .tablet {
  display: none;
}

@media(min-width:768px) and (max-width:1439px) {
  .counter-red-large {
    left: 12.2%;
    top: 89.8%;
  }


  
  .counters .desktop {
    display: none;
  }

  .game-counters .desktop {
    display: none;
  }
 

  .game-counters .tablet {
    display: block;
  }

  .counters .tablet {
    display: block;
  }
}

@media(max-width:767px) {
  .counter-red-large {
    display: none;
  }

  .game-counters .desktop {
    display: none;
  }
  .game-counters .tablet {
    display: none;
  }
  
  .counters .desktop {
    display: none;
  }
  
  .counters .tablet {
    display: none;
  }

  .game-counters .mobile {
    display: block;
  }
  
  .counters .mobile {
    display: block;
  }

  .counter-red-small {
    left: 80.4%;
      top: 90%; 
  }
}

.counter-yellow-small {
    background-image: url("../assets/images/counter-yellow-small.svg");
      background-repeat: no-repeat;
      background-size: 41px 46px;
      width: 41px;
      height: 46px;
}

.counter-yellow-large {
    background-image: url("../assets/images/counter-yellow-large.svg");
      background-repeat: no-repeat;
      background-size: 70px 75px;
      width: 70px;
      height: 75px;
}