.menu-top {
  width: $mobileTopMenuWidht;
  height: $mobileTopMenuHeight;
  margin: 0 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $white;
  
  
  @include flex-space-between;

  .menu-item {
    @include menu-item;
    @include flex-center;
  }
  .logo {
    background-image: url("../assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}

@media (min-width: $tabletWidth) {
  .menu-top {
    width: $tabletTopMenuWidht;
    height: $tabletTopMenuHeight;
    
    margin-top: 30px;
    .logo {
        background-size: 52px 52px;
        height: 52px;
        width: 52px;
      }
  }
}

@media (min-width: $desktopWidth) {
  .menu-top {
    width: $desktopTopMenuWidht;
    height: $desktopTopMenuHeight;
    .logo {
      background-size: 52px 52px;
      height: 52px;
      width: 52px;
    }
  }
}
