.footer {
    width: $mobileFooterWidth;
    height: $mobileFooterHeight;
    border-top-left-radius: $mobileFooterRadius;
    border-top-right-radius: $mobileFooterRadius;
    background-color: $darkPurple;
    position: absolute;
    top:576px;
    z-index: 0;
}

@media (min-width:$tabletWidth)
{
    .footer {
        width: $tabletFooterWidth;
        height: $tabletFooterHeight;
        position: absolute;
        top:790px;
       
        z-index: 0;
    }


}

@media (min-width:$desktopWidth)
{
    .footer {
        width: $desktopFooterWidth;
        height: $desktopFooterHeight;
        position: absolute;
        top:700px;
        z-index: 0;
    }


}