.flex-conter-board {
  width: $mobileWidth;
  height: $mobileHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
}

.game {
  .bottom {
    background-image: url("../assets/images/board-layer-black-small.svg");
    background-repeat: no-repeat;
    background-size: $mobileGameboardWidht $mobileGameboardHeight;
    width: $mobileGameboardWidht;
    height: $mobileGameboardHeight;
    position: absolute;
    top: 284.2px;
    left: 18.75px;
    z-index: 10;
    border-radius: 15px;
    @include border-shadow;
  }

  .top {
    background-image: url("../assets/images/board-layer-white-small.svg");
    background-repeat: no-repeat;
    background-size: $mobileGameboardWidht $mobileGameboardHeight;
    width: $mobileGameboardWidht;
    height: $mobileGameboardHeight;
    position: absolute;
    top: 280.1px;
    left: 18.75px;
    z-index: 20;
  }
}

@media (min-width: $tabletWidth) {
  .flex-conter-board {
    width: $tabletWidth;
    height: $tabletHeight;
  }

  .game {
    margin-top: 40px;

    .bottom {
      background-image: url("../assets/images/board-layer-black-large.svg");
      background-repeat: no-repeat;
      background-size: $tabletGameboardWidht $tabletGameboardHeight;
      width: $tabletGameboardWidht;
      height: $tabletGameboardHeight;
      position: absolute;
      top: 317.44px;
      left: 76.8px;
      z-index: 10;
      border-radius: 40px;
    }

    .top {
      background-image: url("../assets/images/board-layer-white-large.svg");
      background-repeat: no-repeat;
      background-size: $tabletGameboardWidht $tabletGameboardHeight;
      width: $tabletGameboardWidht;
      height: $tabletGameboardHeight;
      position: absolute;
      top: 307.2px;
      left: 76.8px;
      z-index: 20;
    }
  }
}

@media (min-width: $desktopWidth) {
  .flex-conter-board {
    width: $desktopWidth;
    height: $desktopHeight;
  }

  .game {
    margin-top: 20px;

    .bottom {
      background-image: url("../assets/images/board-layer-black-large.svg");
      background-repeat: no-repeat;
      background-size: $desktopGameboardWidht $desktopGameboardHeight;
      width: $desktopGameboardWidht;
      height: $desktopGameboardHeight;
      position: absolute;
      top: 189px;
      left: 403.2px;

      @include border-shadow;
    }

    .top {
      background-image: url("../assets/images/board-layer-white-large.svg");
      background-repeat: no-repeat;
      background-size: $desktopGameboardWidht $desktopGameboardHeight;
      width: $desktopGameboardWidht;
      height: $desktopGameboardHeight;
      position: absolute;
      top: 180px;
      left: 403.2px;
      z-index: 20;
    }
  }
}