.game-result {
  width: $PlayResultWidth;
  height: $PlayResultheight;
  border-radius: $PlayResultRadius;
  @include border-shadow;
  text-align: center;
  background-color: $white;
  @include flex-column-center;
  position: absolute;
  top: 568.4px;
  left: 37.5px;
  z-index: 90;


  .win {
    font-size: $headingLarge-size;
    font-weight: $headingLarge-weight;
  }

  .playagain {
    @include flex-center;
    @include menu-item;
    width: 130px;
    background-color: $red;
  }
}

@media (min-width: $tabletWidth) {
  .game-result {

    top: 839px;
    left: 253.5px;

  }
}

@media (min-width: $desktopWidth) {
  .game-result {

    top: 720px;
    left: 604.8px;

  }
}