.marker-red-small {
    background-image: url("../assets/images/marker-red.svg");
    background-repeat: no-repeat;
    background-size: 38px 36px;
    width: 38px;
    height: 36px;
}

.marker-red-large {
    background-image: url("../assets/images/marker-red.svg");
    background-repeat: no-repeat;
    background-size: 70px 75px;
    width: 70px;
    height: 75px;
}

.marker-yellow-large {
    background-image: url("../assets/images/marker-yellow.svg");
    background-repeat: no-repeat;
    background-size: 70px 75px;
    width: 70px;
    height: 75px;
}

.marker-yellow-small {
    background-image: url("../assets/images/marker-yellow.svg");
    background-repeat: no-repeat;
    background-size: 38px 36px;
    width: 38px;
    height: 36px;
}