.players-container {
    height: $mobilePlayerContainerHeight;
    @include flex-space-between;
    position: relative;
    top: 70px;

    .player-box {
        width: $mobilePlayerBoxWidth;
        height: $mobilePlayerBoxHeight;
        border-radius: $mobilePlayerBoxRadius;
        background-color: $white;
        text-align: center;
        padding-top: 15px;
        margin: 0 15px;
        font-family: $font-main-bold;
        font-size: $headingSmall-size;
        font-weight: $headingSmall-weight;
        @include border-shadow;
    }

    .player-icon {
        position: relative;
    }

    .player1 {
        background-image: url("../assets/images/player-one.svg");
        bottom: 30px;
        right: 25px;
        @include playerBox;
    }

    .player2 {
        background-image: url("../assets/images/player-two.svg");
        bottom: 30px;
        left: 110px;
        @include playerBox;

    }

    .player-score {
        position: relative;
        bottom: 60px;
    }
}

@media (min-width:$tabletWidth) {
    .players-container {

        width: $tabletPlayerContainerWidth;
        height: $tabletPlayerContainerHeight;
        top: 100px;

        .player-box {
            width: $tabletPlayerBoxWidth;
            height: $tabletPlayerBoxHeight;
            border-radius: $tabletPlayerBoxRadius;
            background-color: $white;
            font-family: $font-main-bold;
            font-size: $headingSmall-size;
            font-weight: $headingSmall-weight;
            @include border-shadow;


        }

        .player1 {
            background-image: url("../assets/images/player-one.svg");
            bottom: 25px;
            left: -25px;

        }

        .player2 {
            background-image: url("../assets/images/player-two.svg");
            bottom: 25px;
            left: 240px;


        }

        .player-name {
            font-size: $headingSmall-size;
            font-weight: $headingSmall-weight;
        }

        .player-score {
            font-size: $headingLarge-size;
            font-weight: $headingLarge-weight;
        }







    }

    #player1name {
        position: relative;
        left: -50px;
        top: 20px;
    }

    #player1score {
        position: relative;
        left: 80px;
        top: -85px;
    }


    #player2name {
        position: relative;
        left: 50px;
        top: 20px;
    }

    #player2score {
        position: relative;
        left: -80px;
        top: -85px;

    }

}



@media (min-width:$desktopWidth) {
    .players-container {

        width: 1200px;
        height: 160px;
        position: relative;
        top: 300px;
        z-index: 0;

        .player-box {
            width: $mobilePlayerBoxWidth;
            height: 160px;
            border-radius: $tabletPlayerBoxRadius;
            background-color: $white;
            font-family: $font-main-bold;
            font-size: $headingSmall-size;
            font-weight: $headingSmall-weight;
            @include border-shadow;


        }

        .player1 {
            background-image: url("../assets/images/player-one.svg");
            bottom: 75px;
            left: 50px;

        }

        .player2 {
            background-image: url("../assets/images/player-two.svg");
            bottom: 75px;
            left: 50px;


        }

        .player-name {
            font-size: $headingSmall-size;
            font-weight: $headingSmall-weight;
        }

        .player-score {
            font-size: $headingLarge-size;
            font-weight: $headingLarge-weight;
        }
    }

    #player1name {
        position: relative;
        left: 0px;
        top: 20px;
    }

    #player1score {
        position: relative;
        left: 0px;
        top: -20px;
    }


    #player2name {
        position: relative;
        left: 0px;
        top: 20px;
    }

    #player2score {
        position: relative;
        left: 0px;
        top: -20px;

    }


}