.dropbox {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:195px;
}

.droppoint {
    width: 75px;
    height: 75px;
    background-color: transparent;
    margin: 0 7px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    z-index: 100;
}

@media(min-width:768px) and (max-width:1439px) {
    .dropbox {
        top:320px;
        margin-left: 25px;
    }
    .droppoint {
        width: 80px;
        height: 80px;
        background-color: transparent;
        margin: 0 4px;
        position: relative;
        z-index: 100;
        
        
    }
}


@media(max-width:767px) {
    .dropbox {
        top:290px;
        left:22px;
        
    }
    .droppoint {
        width: 45px;
        height: 45px;
        background-color: transparent;
        margin: 0 1px;
        position: relative;
        z-index: 100;
        border: 1px solid black;
        
        
      
        
    }
}